[user]
	email = noahktilton@gmail.com
	name = noah
[color]
	diff = auto
	status = auto
	branch = auto
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
  d = difftool
[github]
  user = noah
  token = 6ba2b5b0cf5b89da46cfbee44a9ef16b           
