urxvt.internalBorder:   0
urxvt.externalBorder:   0
urxvt.urgentOnBell:             true
urxvt.cursorBlink:              true
urxvt.cursorUnderline: false

urxvt*buffered:true
urxvt*depth:32
urxvt*fading:0
urxvt*shading:0
urxvt*visualBell:false
urxvt*inheritPixmap:true
urxvt*borderLess:false
urxvt*:scrollTtyKeypress: true
urxvt*transparent:false

urxvt*jumpScroll:true
urxvt*loginShell:true
urxvt*saveLines:65535
urxvt*scrollBar_right:true
urxvt*scrollBar:false
urxvt*scrollstyle:plain
urxvt*scrollTtyKeypress:    true
urxvt*scrollTtyOutput:      false
urxvt*scrollWithBuffer:     true
urxvt*termName: rxvt-256color
urxvt*transparentscrollbar:true
urxvt*transpscrollbar:true

Xcursor.theme: Vanilla-DMZ

! include file should have something like:
!
!   urxvt*boldColors: on
!   urxvt*font:	xft:Monaco:pixelsize=17:antialias=true:hinting=true:medium
!   urxvt*boldFont:	xft:Monaco:pixelsize=17:antialias=true:hinting=true:bold
!
!   include is relative to $HOME/
#include ".config/xresources/fonts"

/* color & theme */

! fg/bg
urxvt*highlightColor:#eeeeee
urxvt*background: #121212
urxvt*foreground: #ffffff
urxvt.cursorColor:             #00b4ff
urxvt.cursorColor2:            black

! color theme
!
! todo: write a python script to output this
!black
urxvt*color0:    #0a0a0a
! red
urxvt*color1:    #fe021d
! green
urxvt*color2:    #00fc00
! yellow
urxvt*color3:    #fef500
! blue
urxvt*color4:    #00b4ff
! magenta
urxvt*color5:    #b84eef
! cyan
urxvt*color6:    #5aeaf7
! white
urxvt*color7:    #ffffff

! Bold

! black
urxvt*color8:       #0a0a0a
! red
urxvt*color9:       #fe021d
! green
urxvt*color10:      #00fc00
! yellow
urxvt*color11:      #fef500
! blue
urxvt*color12:      #00b4ff
! magenta
urxvt*color13:      #b84eef
! cyan
urxvt*color14:      #5aeaf7
! white
urxvt*color15:      #ffffff

/*
*       
*       perl stuff
* */
urxvt.underlineURLs:      false
urxvt.colorUL: #fef500

urxvt.perl-lib:         /home/noah/.urxvt
urxvt.perl-ext-common:  font,default,matcher
!urxvt.perl-ext:         font
urxvt.keysym.Control-Shift-Up:      perl:font:increment
urxvt.keysym.Control-Shift-Down:    perl:font:decrement

! not yet implemented
urxvt.keysym.Control-Shift-Right:   perl:font:cycle-right
! not yet implemented
urxvt.keysym.Control-Shift-Left:    perl:font:cycle-left

! middle-click opens urls in chrome
urxvt.matcher.button:     2
urxvt*urlLauncher: /usr/bin/google-chrome
