
[Desktop Entry]
Type=Application
Encoding=UTF-8
Version=1.0
Name=No Name
Name[en_US]=xinitrc
Exec=/home/tilton/bin/urxvtd -o -f -q
X-GNOME-Autostart-enabled=true
